@font-face {
    font-family: 'Segoe UI Light';
    src: url('.././font/segoeuil.ttf');
}

body{
    background-color: #c7c7c7;
}

#center{
text-align:center;	
}

.table_margin{
    background-color: #f9f9f9;
}

.table_margin{
    width: 1400px;
    border: 3px solid #9d9898;
}

.btn_pos {
text-align: center;
}

.input_box_pos{
width: 250px;
border: 1px solid black;
float: left;
}

.btn_pos {
margin-right: 500px;
}

.btn_search_pos{
    
}

.panel {
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0,0,0,.05);
-webkit-box-shadow: 0px -1px 20px 0px rgba(50, 50, 50, 0.48);
-moz-box-shadow: 0px -1px 20px 0px rgba(50, 50, 50, 0.48);
box-shadow: 0px -1px 20px 0px rgba(50, 50, 50, 0.48);
}