@font-face {
    font-family: 'Segoe UI Light';
    src: url('.././font/segoeuil.ttf');
}

h1{
	text-align: center;
    font-family: 'Segoe UI Light';
    font-weight: 200;
    font-style: normal;
    font-size: 2.15em;
    text-shadow: 0px 1px 3px rgba(150, 150, 150, 1);
    }
    
p{
    text-align: center;
    font-family: 'Segoe UI Light';
    font-weight: 200;
    font-style: normal;
    font-size: 1.55em;
}

.teacher_name_pos {
width: 450px;
display: flex;
padding: 10px;
margin-left: 280px;
}

.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
margin-left: 15px;
}

.panel.panel-default {
text-align: center;
}

.p_font{
    text-align: center;
    font-family: 'Segoe UI Light';
    font-weight: 200;
    font-style: normal;
    font-size: 1.55em;
}

input[type=radio], input[type=checkbox] {
margin: 4px 0 0;
margin-top: 1px \9;
line-height: normal;
margin-left: 30px;
}

.teacher_bday_pos {
margin-left: 40px;
}

.container_form{
	float: left;
}

.teacher_radio_pos {
margin-left: 40px;
}

.panel-body {
padding-bottom: 40px;
}




.select_style
{
	overflow:hidden;
}

.select_style select
{
	-webkit-appearance: none;
	appearance:none;
	width:120%;
	background:none;
	background:transparent;
	border:none;
	outline:none;
}
.select_style span
{
	position: absolute;
	right: 10px;
	width: 8px;
	height: 8px;
	background: url('../arrow.png') no-repeat;
	top: 50%;
	margin-top: -4px;
}
.select_style select
{
	-webkit-appearance: none;
	appearance:none;
	width:120%;
	background:none;
	background:transparent;
	border:none;
	outline:none;
	cursor:pointer;
	padding:7px 10px;
}

.select_style select {
    background: none repeat scroll 0% 0% transparent;
    border: medium none;
    outline: medium none;
    cursor: pointer;
    padding: 10px;
    width: 100px;
}

.select_style {
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    display: inline-block;
    color: rgb(82, 82, 82);
    font-weight: 300;
    border-radius: 5px 4px 4px 5px / 5px 5px 4px 4px;
    box-shadow: 0px 0px 5px rgba(123, 123, 123, 0.2);
    border: 1px solid rgb(218, 218, 218);
    font-family: "helvetica neue",arial;
    width: auto;
    margin-left:10px;
}

.teacher_bday_box {
margin-left: 190px;
}

.teacher_bday_box {
margin-left: 300px;
display: inline-flex;
}

.teacher_bdayPlace_pos {
width: 350px;
margin-left: 287px;
}

.teacher_address_pos {
width: 350px;
margin-left: 287px;
}

.teacher_degree_pos {
margin-left: 214px;
}

.teacher_salary_pos {
width: 350px;
margin-left: 287px;
}

.teacher_married_pos {
margin-left: 116px;
}

.teacher_mobile_pos{
	width: 350px;
	margin-left: 287px;
}

.teacher_mail_pos{
	width: 350px;
	margin-left: 287px;
}

.teacher_note_pos{
	width: 350px;
	margin-left: 287px;
}

.teacher_btn_pos {
margin-left: 50px;
}

.faculty_pos {
padding: 20px;
margin-left: 350px;
}

textarea.form-control {
height: auto;
width: 250px;
}

.text_box_pos {
margin-left: 347px;
}

